body{
    margin: 0;
    background-image: url('images.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

.ul-lists{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.ul-lists li{
    color: rgb(252, 249, 249);
}
.ul-lists img{
    height: 25px;
    width: 25px;
}

.hero{
    margin: 12rem 0 0 30rem; 
}

.hero h3{
    font-size: 40px;
    color: rgb(5, 7, 12);
    font-family: cursive;
    margin: 0 0 -15px 0;
}

.hero h2{
    font-size: 20px;
    color: rgb(254, 255, 255);
    margin: 0 0 0 200px;
}

.hero h4{
    color: rgb(0, 0, 0);
    margin: 7px 0 0 183px;
}

.food{
    color: aliceblue;
}



